# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Toggle LiveReload': 'atom-livereload:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'LiveReload'
      'submenu': [
        { 'label': 'Toggle Server', 'command': 'atom-livereload:toggle' }
      ]
    ]
  }
]
